<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062086781608-f5eorjn5cp4ntitcd958vpuqrrn6hfrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062086781608-f5eorjn5cp4ntitcd958vpuqrrn6hfrl</string>
	<key>API_KEY</key>
	<string>AIzaSyA49azhhsAdD47URyoE5OigwRtPqSnP9Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>1062086781608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shivangikhandelwal.com.Planit</string>
	<key>PROJECT_ID</key>
	<string>plan-it-21041</string>
	<key>STORAGE_BUCKET</key>
	<string>plan-it-21041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062086781608:ios:e11361237249f09215709d</string>
</dict>
</plist>